html {
  box-sizing: border-box;
}

*,
*:before *:after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  background-image: url(/image/milky-way-6496937_1920.jpg);
  background-position: top;
  margin: 0%;
  color: #fff;
}
.section {
  padding: 50px;
}
.section-title {
  text-transform: uppercase;
  text-align: center;
}
.container {
  width: 1140px;
  margin: 0 auto;
  /*border: 1px solid black;*/
}
.header a {
  color: rgb(254, 253, 255);
  text-decoration: none;
  border-radius: 6px;
}

.main-navigation {
  /* background-image: url(/image/earth.jpg);*/

  background-position: center;

  color: rgb(60, 8, 247);
  padding: 10px 0;
}

.logo {
  float: left;
  color: #fff;
  background-color: rgba(47, 8, 223, 0.4);
  padding: 5px 15px;
  text-transform: uppercase;
}
.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-right: 20px;
  padding-left: 400px;
}
.menu-item {
  display: inline-block;
}
.menu-link {
  text-transform: uppercase;
  padding: 5px 15px;
  background-color: rgba(47, 8, 223, 0.4);
}
.intro-left {
  width: 40%;
}
.intro-img {
  border-radius: 50%;
}
.intro-right {
  color: #fff;
  width: 50%;
  background-color: rgba(47, 8, 223, 0.4);
  padding: 5px 15px;
  border-radius: 10px;
}
.intro-inner {
  display: flex;
  padding: 4em 0;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.li {
  /*background-color: rgba(223, 8, 8, 1);*/
  border-radius: 5px;
}
.contacts li {
  align-items: center;
  justify-content: center;
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  background-color: rgb(6, 102, 30);
  background-size: 5px;
  padding: 5px;
  border-radius: 10px;
}
.contacts ul,
.skills ul,
.code-example pre,
.portfolio,
.languages,
.education {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  margin-bottom: 50px;
  background-color: rgba(47, 8, 223, 0.4);
  padding: 5px 15px;
  color: #fff;
  text-decoration: none;
}
.footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.fa-solid {
  font-size: 10em;
}
.portfoliocolumns {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: auto auto;
  grid-gap: 200px;
  justify-content: center;
  align-items: center;
}
